body{
  text-align: center;
}
button{
  margin-top: 20px ;
  margin-bottom: 15px;
  padding: 15px;
  font-size: large;
  background-color: aliceblue;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid black;
}



div{
  box-sizing: border-box;
  padding: 20px;
  width: 700px;
  height: 175px;
  margin: auto;
  margin-top: 45px;
  border: 1.5px solid black;
  font-size: 25px;
}

